{% extends 'base.html' %}

{% block title %}
    Departments
{% endblock %}

{% block content %}
    <h1>Departments</h1>
    <ul>
        {% for department in department_list %}
            <li>{{ department.department_name }} {{ department.employee_set.count }}:
                {% for employee in department.employee_set.all %}
                    <a href="{% url 'details-employee' pk=employee.pk %}">{{ employee.full_name }}</a>
                {% empty %}
                    <span>None</span>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}